*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --background: white;
  --markdown-background: #e1e3e7;
  --color: black;
  --error-color: #9d1212;
  --separator-color: #e9e5eb;
  --secondary-color: #7e7f87;
  --tertiary-color: #bcbdc2;
  --input-border-color: black;
  --button-background: #c7cad0;
  --button-background-hover: #dedfe4;
  --button-background-primary: black;
  --button-background-primary-hover: #727379;
  --button-background-destructive: #b51616;
  --button-background-destructive-hover: #e63333;
  --button-background-disabled: #a4a5aa;
  --button-color: black;
  --button-color-hover: black;
  --button-color-primary: white;
  --button-color-primary-hover: white;
  --button-color-destructive: white;
  --button-color-destructive-hover: white;
  --button-color-disabled: #cdced2;
  --highlight-color: #a08500;
  --highlight-background: #fdfab9;
  --disabled-color: #cdced2;
  --git-status-untracked-color: rgb(13, 149, 101);
  --git-status-untracked-background: rgba(13, 149, 101, 0.15);
  --git-status-added-color: rgb(20, 148, 29);
  --git-status-added-background: rgba(20, 148, 29, 0.15);
  --git-status-modified-color: rgb(196, 155, 18);
  --git-status-modified-background: rgba(196, 155, 18, 0.15);
  --git-status-deleted-color: rgb(135, 22, 11);
  --git-status-deleted-background: rgba(135, 22, 11, 0.15);
  --git-status-renamed-color: rgb(20, 97, 148);
  --git-status-renamed-background: rgba(20, 97, 148, 0.15);
  --shadow-color: rgba(160, 163, 165, 0.5);
  --highlight-color-bold: rgb(205, 123, 43);
  --highlight-color-italic: rgb(41, 155, 96);
  --highlight-color-list-item-marker: rgb(195, 58, 237);
  --highlight-color-table-marker: rgb(237, 58, 118);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(260, 6%, 10%);
    --markdown-background: hsl(260, 6%, 17%);
    --color: hsl(260, 6%, 88%);
    --error-color: #ff6b6b;
    --separator-color: hsl(260, 6%, 24%);
    --secondary-color: hsl(260, 6%, 69%);
    --tertiary-color: hsl(260, 6%, 49%);
    --input-border-color: hsl(260, 6%, 40%);
    --button-background: hsl(260, 6%, 24%);
    --button-background-hover: hsl(260, 6%, 30%);
    --button-background-primary: hsl(260, 6%, 80%);
    --button-background-primary-hover: hsl(260, 6%, 60%);
    --button-background-destructive: #922727;
    --button-background-destructive-hover: #ff8080;
    --button-background-disabled: hsl(260, 6%, 35%);
    --button-color: #fff;
    --button-color-hover: #fff;
    --button-color-primary: #000;
    --button-color-primary-hover: #000;
    --button-color-destructive: #fff;
    --button-color-destructive-hover: #fff;
    --button-color-disabled: hsl(260, 6%, 54%);
    --highlight-color: #f2d600;
    --highlight-background: #333300;
    --highlight-color-bold: rgb(236, 170, 105);
    --highlight-color-italic: rgb(130, 230, 178);
    --highlight-color-list-item-marker: rgb(220, 133, 245);
    --highlight-color-table-marker: rgb(244, 135, 171);
  }
}

body {
  font-family: var(--font-sans);
  color: var(--color);
  margin: 0;
  padding: 1.5rem;
  line-height: 1.4;
  background: var(--background);
  z-index: 1;
}

#app {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "header aside" "main main";
  gap: 0 1rem;
}

@media (min-width: 80rem) {
  #app {
    grid-template-columns: 1fr auto;
    grid-template-areas: "header header" "main aside";
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

header nav {
  min-height: 1.4rem;
}

header nav ol {
  list-style-type: " ";
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

main {
  grid-area: main;
}

h1 {
  margin: 2rem 0 1.5rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

h1.empty-name {
  color: var(--tertiary-color);
}

h1 .id {
  color: var(--tertiary-color);
  font-size: 0.8rem;
  font-family: var(--font-mono);
  display: block;
  margin-top: 0.25rem;
}

h2 {
  margin: 1.8rem 0 1.25rem;
  font-size: 1.75rem;
  line-height: 1.1;
}

h2.h1-faded {
  margin: 2rem 0 1.5rem;
  font-size: 2.5rem;
  color: var(--tertiary-color);
}

a {
  color: var(--color);
}

a.btn,
button {
  /* --border-width: 2px; */
  display: block;
  /* padding: calc(0.5rem - var(--border-width)) calc(1rem - var(--border-width)); */
  padding: 0.5rem 1rem;
  margin: 0;
  background: var(--button-background);
  color: var(--button-color);
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.4;
  /* border: var(--border-width) solid var(--button-color); */
  border: none;
  text-decoration: none;
  cursor: pointer;
}

a.btn:hover,
button:hover {
  background: var(--button-background-hover);
  color: var(--button-color-hover);
  border-color: var(--button-color-hover);
}

a.btn--primary,
button.primary {
  background: var(--button-background-primary);
  color: var(--button-color-primary);
  padding: 0.5rem 1rem;
  border: none;
}

@media (prefers-color-scheme: dark) {
  a.btn--primary,
  button.primary {
    font-weight: 700;
  }
}

a.btn--primary:hover,
button.primary:hover {
  background: var(--button-background-primary-hover);
  color: var(--button-color-primary-hover);
}

a.btn--destructive,
button.destructive {
  background: var(--button-background-destructive);
  color: var(--button-color-destructive);
  padding: 0.5rem 1rem;
  border: none;
}

a.btn--destructive:hover,
button.destructive:hover {
  background: var(--button-background-destructive-hover);
  color: var(--button-color-destructive-hover);
}

button:disabled {
  background: var(--button-background-disabled);
  color: var(--button-color-disabled);
  cursor: not-allowed;
}

button.primary:disabled,
button.destructive:disabled {
  background: var(--button-background-disabled);
  color: var(--button-color-disabled);
  cursor: not-allowed;
}

input,
textarea,
select,
.textarea-grow-wrap__mirror {
  background: var(--background);
  color: var(--color);
  font-family: var(--font-sans);
  border: 1px solid var(--input-border-color);
  padding: 0.5rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"],
select[aria-invalid="true"] {
  border-color: var(--error-color);
  color: var(--error-color);
}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

.textarea-grow-wrap {
  display: grid;
}

.textarea-grow-wrap .textarea-grow-wrap__mirror {
  white-space: pre-wrap;
  z-index: -1;
}

.textarea-grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.textarea-grow-wrap > textarea,
.textarea-grow-wrap__mirror {
  grid-area: 1 / 1 / 2 / 2;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 0.25rem 0.5rem 0 0;
  border: 1px solid var(--color);
  flex: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]:checked {
  background: var(--color);
}

input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  border-width: 0 0 0.125rem 0.125rem;
  border-style: solid;
  width: 0.8rem;
  height: 0.4rem;
  border-color: var(--background);
  transform: rotate(-45deg);
  margin: calc(-0.325rem) 0 0 calc(-0.4rem);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.4rem);
  right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--color);
  transform: rotate(45deg);
  pointer-events: none;
}

.select-wrapper:has(> select:disabled)::after {
  border-color: var(--tertiary-color);
}

select.no-selection {
  color: var(--tertiary-color);
}

select:disabled {
  color: var(--disabled-color);
  border-color: var(--disabled-color);
}

select {
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
}

.header-with-btns {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-with-btns button,
.header-with-btns .btn {
  margin-top: 2.3rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.list-header form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.entries {
  list-style-type: " ";
  padding: 0;
  margin: 1.5rem 0 0;
  container-type: inline-size;
}

.entries-item {
  display: grid;
  gap: 0.125rem 1.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--separator-color);
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title side" "subtitle side" ". side";
  align-items: center;
  --text-padding: 0.5rem;
}

@container (min-width: 40rem) {
  .entries-item {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas: "title subtitle side";
    align-items: center;
  }
}

.entries-item:first-child {
  border-top: none;
}

.entries-item--created {
  color: var(--highlight-color);
  background: var(--highlight-background);
}

.entries-item h2 {
  font-size: 1rem;
  margin: 0;
  flex: 1 1 auto;
  line-height: 1.3;
}

.entries-item__title {
  grid-area: title;
  padding-top: var(--text-padding);
}

@container (min-width: 40rem) {
  .entries-item__title {
    padding-block: var(--text-padding);
  }
}

.entries-item__title p {
  color: var(--secondary-color);
  margin: 0.125rem 0 0;
}

.entries-item__title .description {
  margin: 0;
}

.entries-item__subtitle {
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  grid-area: subtitle;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: var(--text-padding);
}

@container (min-width: 40rem) {
  .entries-item__subtitle {
    padding-block: var(--text-padding);
  }
}

.entries-item__subtitle--id {
  font-family: var(--font-mono);
}

.entries-item__side {
  grid-area: side;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field.field--id {
  margin: 0 0 2rem;
}

.field--id label {
  font-weight: bold;
}

.field--id input {
  margin: 0.75rem 0 0;
}

.btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: start;
}

.field {
  margin: 0.75rem 0 0;
}

.field:only-child {
  margin: 0;
}

.validation-errors {
  margin: 0.5rem 0 0;
  color: var(--error-color);
  font-size: 0.8rem;
}

.validation-errors ul {
  padding: 0;
  margin: 0;
}

.validation-errors li:only-child {
  list-style-type: " ";
}

.field--container {
  border: 1px solid var(--separator-color);
  /* border-left-color: var(--color); */
  border-left-width: 4px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

form > .field--container {
  padding: 0;
  border: none;
}

.field--container > ul,
.field--container > ol {
  margin: 0;
  padding: 0;
  list-style-type: " ";
}

.field--container > ul > li,
.field--container > ol > li {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid var(--separator-color);
  display: block;
}

.field--container > ul > li:first-child,
.field--container > ol > li:first-child {
  padding-top: 0;
  border-top: none;
}

.field--container > ul > li:last-child,
.field--container > ol > li:last-child {
  padding-bottom: 0;
}

.field--string {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@container (min-width: 40rem) {
  .field--string {
    flex-direction: row;
    align-items: start;
  }
}

.field--string .editor {
  flex: 1 1 0;
}

.editor--markdown textarea,
.editor--markdown input,
.editor--markdown .textarea-grow-wrap__mirror {
  font-family: var(--font-mono);
}

.editor--markdown textarea {
  color: transparent;
  background: transparent;
  caret-color: var(--color);
}

.editor-highlighting strong {
  color: var(--highlight-color-bold);
}

.editor-highlighting em {
  color: var(--highlight-color-italic);
}

.editor-highlighting .list-item-marker {
  color: var(--highlight-color-list-item-marker);
}

.editor-highlighting .table-marker {
  color: var(--highlight-color-table-marker);
}

.help {
  font-size: 0.8rem;
  color: var(--secondary-color);
  margin: 0.25rem 0 0;
}

.field--string .preview {
  padding: 1rem;
  background: var(--markdown-background);
  flex: 1 1 0;
}

.field--string .preview p {
  margin: 0.5rem 0 0;
}

.field--string .preview > :first-child {
  margin-top: 0;
}

.field--string .preview > :last-child {
  margin-bottom: 0;
}

.field--string .preview table {
  border-collapse: collapse;
  margin: 0.5rem 0;
}

.field--string .preview table :is(th, td) {
  vertical-align: top;
  padding: 0.25rem 0.5rem;
}

.field--string .preview table :is(th, td):first-child {
  padding-left: 0;
}

.field--string .preview table :is(th, td):last-child {
  padding-right: 0;
}

.field--string .preview table tbody tr {
  border-top: 1px solid var(--tertiary-color);
}

.container-item {
  container-type: inline-size;
}

.container-item-header {
  display: flex;
  align-items: center;
}

.container-item-title {
  flex: 1 1 auto;
  min-height: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-item-title .id {
  color: var(--tertiary-color);
  font-size: 0.8rem;
  font-family: var(--font-mono);
}

.container-item-title .comment {
  margin: 0.125rem 0 0;
}

.add-item-container {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.add-item-container:only-child {
  margin: 0;
}

.associated-type {
  margin-top: 0.5rem;
}

button[type="submit"] {
  margin-top: 1rem;
  justify-content: space-between;
}

.description {
  color: var(--secondary-color);
  margin: 0 0 3rem;
}

.comment {
  font-size: 0.8rem;
  line-height: 1.4;
  color: var(--secondary-color);
  margin: 0.5rem 0 0;
  max-width: 55em;
}

.comment p {
  margin: 0.35rem 0 0;
}

.comment ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.35rem 0 0;
}

main:has(.form-footer) {
  margin-bottom: -1.5rem;
}

.form-footer {
  position: sticky;
  bottom: 0;
  padding-bottom: 1.5rem;
  background: var(--background);
}

.git-status {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 2px;
  text-align: center;
  line-height: 1.75rem;
  margin: 0;
  font-weight: 600;
}

.instance-item .git-status {
  margin-top: 0.3rem;
}

.git-status.git-status--U {
  color: var(--git-status-untracked-color);
  background: var(--git-status-untracked-background);
}

.git-status.git-status--A {
  color: var(--git-status-added-color);
  background: var(--git-status-added-background);
}

.git-status.git-status--M {
  color: var(--git-status-modified-color);
  background: var(--git-status-modified-background);
}

.git-status.git-status--D {
  color: var(--git-status-deleted-color);
  background: var(--git-status-deleted-background);
}

.git-status.git-status--R {
  color: var(--git-status-renamed-color);
  background: var(--git-status-renamed-background);
}

aside.git {
  max-width: 30rem;
  grid-area: aside;
}

aside.git h2 {
  display: none;
}

@media (min-width: 80rem) {
  aside.git {
    border-left: 1px solid var(--separator-color);
    padding-left: 1rem;
  }

  aside.git h2 {
    display: block;
  }

  aside.git > button {
    display: none;
  }
}

aside.git h3 {
  font-size: 1.25rem;
  margin: 0;
}

aside.git ul {
  list-style-type: " ";
  padding: 0;
  margin: 0;
  display: block;
}

aside.git .git-entity-list-item > .title {
  margin: 1rem 0 0.5rem;
}

aside.git .git-instance-list-item {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0 0;
  gap: 0.25rem;
}

aside.git li .title {
  display: block;
  margin: 0.25rem 0;
  flex: 1 1 0;
}

aside.git li.git-entity-list-item > .title {
  font-weight: 600;
}

aside.git li button {
  padding: 0 0.5rem;
  line-height: 1.75rem;
  height: 1.75rem;
}

aside.git .git-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 0.5rem;
}

aside.git .git-section-title h2 {
  margin: 0;
}

aside.git p.no-changes {
  color: var(--tertiary-color);
  margin: 0;
}

aside.git .commit,
aside.git .sync,
aside.git .branch {
  display: flex;
  gap: 0.5rem;
}

aside.git .sync,
aside.git .branch {
  margin-bottom: 1rem;
}

aside.git .commit input,
aside.git .branch .select-wrapper {
  flex: 1 1 0;
}

.git-overlay {
  display: none;
  position: absolute;
  right: 1.5rem;
  box-shadow: 0 0.5rem 2rem var(--shadow-color);
  z-index: 1000;
  padding: 1rem;
  background: var(--background);
  overflow-y: auto;
  max-height: calc(90vh - 5rem);
}

@media (min-width: 80rem) {
  .git-overlay {
    display: block;
    position: static;
    box-shadow: none;
    padding: 0.5rem 0 0;
    max-height: none;
  }
}

.git-overlay.git-overlay--open {
  display: block;
}
