*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-background-primary: hsl(260, 6%, 97%);
  --color-background-secondary: hsl(260, 6%, 90%);
  --color-background-tertiary: hsl(260, 6%, 85%);

  --color-foreground-primary: hsl(260, 6%, 10%);
  --color-foreground-secondary: hsl(260, 6%, 40%);
  --color-foreground-tertiary: hsl(260, 6%, 50%);

  --color-error: #9d1212;
  --color-placeholder: hsla(260, 6%, 50%);
  --color-separator: hsla(260, 6%, 25%, 0.125);
  --color-separator-input: hsl(260, 6%, 50%);
  --color-disabled: hsl(260, 6%, 75%);
  --color-shadow: rgba(53, 56, 58, 0.5);

  --color-button-background: hsl(260, 6%, 75%);
  --color-button-foreground: hsl(260, 6%, 10%);
  --color-button-background-hover: hsl(260, 6%, 60%);
  --color-button-foreground-hover: hsl(260, 6%, 10%);
  --color-button-background-primary: hsl(260, 6%, 10%);
  --color-button-foreground-primary: hsl(260, 6%, 95%);
  --color-button-background-primary-hover: hsl(260, 6%, 30%);
  --color-button-foreground-primary-hover: hsl(260, 6%, 95%);
  --color-button-background-destructive: #b51616;
  --color-button-foreground-destructive: white;
  --color-button-background-destructive-hover: #e63333;
  --color-button-foreground-destructive-hover: white;
  --color-button-background-disabled: hsl(260, 6%, 90%);
  --color-button-foreground-disabled: hsl(260, 6%, 75%);

  --color-highlight-background: #fdfab9;
  --color-highlight-foreground: #a08500;

  --git-status-untracked-background-color: rgba(13, 149, 101, 0.15);
  --git-status-untracked-foreground-color: rgb(13, 149, 101);
  --git-status-added-background-color: rgba(20, 148, 29, 0.15);
  --git-status-added-foreground-color: rgb(20, 148, 29);
  --git-status-modified-background-color: rgba(196, 155, 18, 0.15);
  --git-status-modified-foreground-color: rgb(196, 155, 18);
  --git-status-deleted-background-color: rgba(135, 22, 11, 0.15);
  --git-status-deleted-foreground-color: rgb(135, 22, 11);
  --git-status-renamed-background-color: rgba(20, 97, 148, 0.15);
  --git-status-renamed-foreground-color: rgb(20, 97, 148);

  --color-syntax-bold: rgb(205, 123, 43);
  --color-syntax-italic: rgb(41, 155, 96);
  --color-syntax-list-item-marker: rgb(195, 58, 237);
  --color-syntax-table-marker: rgb(237, 58, 118);
  --color-syntax-attributed: rgb(48, 81, 228);
  --color-syntax-heading-marker: rgb(62, 189, 191);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: hsl(260, 6%, 10%);
    --color-background-secondary: hsl(260, 6%, 15%);
    --color-background-tertiary: hsl(260, 6%, 20%);

    --color-foreground-primary: hsl(260, 6%, 90%);
    --color-foreground-secondary: hsl(260, 6%, 70%);
    --color-foreground-tertiary: hsl(260, 6%, 50%);

    --color-error: #ff6b6b;
    --color-separator: hsla(260, 6%, 75%, 0.25);
    --color-separator-input: hsl(260, 6%, 50%);
    --color-disabled: hsl(260, 6%, 30%);
    --color-shadow: rgba(0, 0, 0, 0);

    --color-button-background: hsl(260, 6%, 25%);
    --color-button-foreground: #fff;
    --color-button-background-hover: hsl(260, 6%, 30%);
    --color-button-foreground-hover: #fff;
    --color-button-background-primary: hsl(260, 6%, 80%);
    --color-button-foreground-primary: #000;
    --color-button-background-primary-hover: hsl(260, 6%, 60%);
    --color-button-foreground-primary-hover: #000;
    --color-button-background-destructive: #922727;
    --color-button-foreground-destructive: #fff;
    --color-button-background-destructive-hover: #ff8080;
    --color-button-foreground-destructive-hover: #fff;
    --color-button-background-disabled: hsl(260, 6%, 15%);
    --color-button-foreground-disabled: hsl(260, 6%, 35%);

    --color-highlight-background: #333300;
    --color-highlight-foreground: #f2d600;

    --color-syntax-bold: rgb(236, 170, 105);
    --color-syntax-italic: rgb(130, 230, 178);
    --color-syntax-list-item-marker: rgb(220, 133, 245);
    --color-syntax-table-marker: rgb(244, 135, 171);
    --color-syntax-attributed: rgb(137, 157, 244);
    --color-syntax-heading-marker: rgb(140, 229, 231);
  }
}

body {
  font-family: var(--font-sans);
  color: var(--color-foreground-primary);
  margin: 0;
  padding: 1.5rem;
  line-height: 1.4;
  background: var(--color-background-primary);
  z-index: 1;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "aside";
  gap: 0 1rem;
}

@media (min-width: 80rem) {
  #app {
    grid-template-columns: 1fr auto;
    grid-template-areas: "header header" "main aside";
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

header nav {
  min-height: 1.4rem;
}

header nav ol {
  list-style-type: " ";
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

main {
  grid-area: main;
}

h1 {
  margin: 2rem 0 1.5rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

h1.empty-name {
  color: var(--color-foreground-tertiary);
}

h1 .id {
  color: var(--color-foreground-tertiary);
  font-size: 0.8rem;
  font-family: var(--font-mono);
  display: block;
  margin-top: 0.25rem;
}

h2 {
  margin: 1.8rem 0 1.25rem;
  font-size: 1.75rem;
  line-height: 1.1;
}

h2.h1-faded {
  margin: 2rem 0 1.5rem;
  font-size: 2.5rem;
  color: var(--color-foreground-tertiary);
}

h3 {
  margin: 1.6rem 0 0.75rem;
  font-size: 1.25rem;
  line-height: 1.2;
}

h4 {
  margin: 1.2rem 0 0.6rem;
  font-size: 1.1rem;
  line-height: 1.3;
}

h5 {
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

h6 {
  margin: 1rem 0 0.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

p {
  margin: 0.5rem 0;
}

a {
  color: var(--color-foreground-primary);
}

a.btn,
button {
  /* --border-width: 2px; */
  display: block;
  /* padding: calc(0.5rem - var(--border-width)) calc(1rem - var(--border-width)); */
  padding: 0.5rem 1rem;
  margin: 0;
  background: var(--color-button-background);
  color: var(--color-button-foreground);
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.4;
  /* border: var(--border-width) solid var(--color-button-foreground); */
  border: none;
  text-decoration: none;
  cursor: pointer;
}

a.btn:hover,
button:hover {
  background: var(--color-button-background-hover);
  color: var(--color-button-foreground-hover);
  border-color: var(--color-button-foreground-hover);
}

a.btn--primary,
button.primary {
  background: var(--color-button-background-primary);
  color: var(--color-button-foreground-primary);
  padding: 0.5rem 1rem;
  border: none;
}

@media (prefers-color-scheme: dark) {
  a.btn--primary,
  button.primary {
    font-weight: 700;
  }
}

a.btn--primary:hover,
button.primary:hover {
  background: var(--color-button-background-primary-hover);
  color: var(--color-button-foreground-primary-hover);
}

a.btn--destructive,
button.destructive {
  background: var(--color-button-background-destructive);
  color: var(--color-button-foreground-destructive);
  padding: 0.5rem 1rem;
  border: none;
}

a.btn--destructive:hover,
button.destructive:hover {
  background: var(--color-button-background-destructive-hover);
  color: var(--color-button-foreground-destructive-hover);
}

a.btn[aria-disabled="true"],
button:disabled {
  background: var(--color-button-background-disabled);
  color: var(--color-button-foreground-disabled);
  cursor: not-allowed;
}

button.primary:disabled,
button.destructive:disabled {
  background: var(--color-button-background-disabled);
  color: var(--color-button-foreground-disabled);
  cursor: not-allowed;
}

input,
textarea,
select,
.textarea-grow-wrap__mirror {
  background: var(--color-background-primary);
  color: var(--color-foreground-primary);
  font-family: var(--font-sans);
  border: 1px solid var(--color-separator-input);
  padding: 0.5rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--color-placeholder);
}

input:disabled,
textarea:disabled,
select:disabled {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

input[aria-invalid="true"]:not(:disabled),
textarea[aria-invalid="true"]:not(:disabled),
select[aria-invalid="true"]:not(:disabled) {
  border-color: var(--color-error);
  color: var(--color-error);
}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

.textarea-grow-wrap {
  display: grid;
}

.textarea-grow-wrap .textarea-grow-wrap__mirror {
  white-space: pre-wrap;
  z-index: -1;
}

.textarea-grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.textarea-grow-wrap > textarea,
.textarea-grow-wrap__mirror {
  grid-area: 1 / 1 / 2 / 2;
}

:is(input[type="checkbox"], input[type="radio"]) {
  height: 1rem;
  width: 1rem;
  margin: 0.25rem 0.5rem 0 0;
  border: 1px solid var(--color-foreground-primary);
  flex: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

:is(input[type="checkbox"], input[type="radio"]):disabled {
  border-color: var(--color-disabled);
}

input[type="radio"] {
  border-radius: 50%;
}

:is(input[type="checkbox"], input[type="radio"]):checked {
  background: var(--color-foreground-primary);
}

:is(input[type="checkbox"], input[type="radio"]):checked:disabled {
  background: var(--color-disabled);
}

:is(input[type="checkbox"], input[type="radio"]):checked::before {
  content: "";
  display: block;
}

input[type="checkbox"]:checked::before {
  border-width: 0 0 0.125rem 0.125rem;
  border-style: solid;
  width: 0.8rem;
  height: 0.4rem;
  border-color: var(--color-background-primary);
  transform: rotate(-45deg);
  margin: calc(-0.325rem) 0 0 calc(-0.4rem);
}

input[type="radio"]:checked::before {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-background-primary);
  border-radius: 50%;
  margin: -0.25rem;
}

:is(input[type="checkbox"], input[type="radio"]) + * {
  margin-top: 0.1rem;
}

:is(input[type="checkbox"], input[type="radio"]):disabled + label,
:is(input[type="checkbox"], input[type="radio"]):disabled + * label {
  color: var(--color-disabled);
}

.field--option {
  display: flex;
}

.field--option > :not(input) {
  flex: 1 1 0;
}

.field--option + .field--option {
  margin-top: 0.5rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.4rem);
  right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--color-foreground-primary);
  transform: rotate(45deg);
  pointer-events: none;
}

.select-wrapper:has(> select:disabled)::after {
  border-color: var(--color-foreground-tertiary);
}

select.no-selection {
  color: var(--color-foreground-tertiary);
}

select:disabled {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

select {
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
}

.header-with-btns {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-with-btns button,
.header-with-btns .btn {
  margin-top: 2.3rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.list-header form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.entry-groups {
  list-style-type: " ";
  padding: 0;
  margin: 1.5rem 0 0;
}

.entry-groups-item {
  padding: 0;
  margin: 2rem 0 0;
}

.entry-groups-item__title {
  margin: 0;
}

.entry-groups-item .entries {
  margin: 1rem 0 0;
}

.entries {
  list-style-type: " ";
  padding: 0;
  margin: 1.5rem 0 0;
  container-type: inline-size;
}

.entries-item {
  display: grid;
  gap: 0.125rem 1.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-separator);
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title side" "subtitle side" ". side";
  align-items: center;
  --text-padding: 0.5rem;
}

@container (min-width: 40rem) {
  .entries-item {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas: "title subtitle side";
    align-items: center;
  }
}

.entries-item:first-child {
  border-top: none;
}

.entries-item--created {
  color: var(--color-highlight-foreground);
  background: var(--color-highlight-background);
}

.entries-item h2 {
  font-size: 1rem;
  margin: 0;
  flex: 1 1 auto;
  line-height: 1.3;
}

.entries-item__title {
  grid-area: title;
  padding-top: var(--text-padding);
}

@container (min-width: 40rem) {
  .entries-item__title {
    padding-block: var(--text-padding);
  }
}

.entries-item__title p {
  color: var(--color-foreground-secondary);
  margin: 0.125rem 0 0;
}

.entries-item__title .description {
  margin: 0;
}

.entries-item__subtitle {
  color: var(--color-foreground-secondary);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  grid-area: subtitle;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: var(--text-padding);
}

@container (min-width: 40rem) {
  .entries-item__subtitle {
    padding-block: var(--text-padding);
  }
}

.entries-item__subtitle--id {
  font-family: var(--font-mono);
}

.entries-item__side {
  grid-area: side;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field.field--id {
  margin: 0 0 2rem;
}

.field--id label {
  font-weight: bold;
}

.field--id input {
  margin: 0.75rem 0 0;
}

.btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: start;
}

.field {
  margin: 0.75rem 0 0;
}

.field:only-child {
  margin: 0;
}

.validation-errors {
  margin: 0.5rem 0 0;
  color: var(--color-error);
  font-size: 0.8rem;
}

.validation-errors ul {
  padding: 0;
  margin: 0;
}

.validation-errors li:only-child {
  list-style-type: " ";
}

.field--container {
  border: 1px solid var(--color-separator);
  /* border-left-color: var(--color-foreground-primary); */
  border-left-width: 4px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.field--container.field--disabled {
  color: var(--color-disabled);
}

.field--container.field--disabled .comment {
  color: var(--color-disabled);
}

form > .field--container {
  padding: 0;
  border: none;
}

.field--container > ul,
.field--container > ol {
  margin: 0;
  padding: 0;
  list-style-type: " ";
}

.field--container > ul > li,
.field--container > ol > li {
  padding-block: 0.5rem;
  border-top: 1px solid var(--color-separator);
  display: block;
}

.field--container > ul > li:first-child,
.field--container > ol > li:first-child {
  padding-top: 0;
  border-top: none;
}

.field--container > ul > li:last-child,
.field--container > ol > li:last-child {
  padding-bottom: 0;
}

.field--string {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@container (min-width: 40rem) {
  .field--string {
    flex-direction: row;
    align-items: start;
  }
}

.field--string .editor {
  flex: 1 1 0;
}

.editor--markdown textarea,
.editor--markdown input,
.editor--markdown .textarea-grow-wrap__mirror {
  font-family: var(--font-mono);
}

.editor--markdown textarea {
  color: transparent;
  background: transparent;
  caret-color: var(--color-foreground-primary);
}

.editor-highlighting strong {
  color: var(--color-syntax-bold);
}

.editor-highlighting em {
  color: var(--color-syntax-italic);
}

.editor-highlighting .list-item-marker {
  color: var(--color-syntax-list-item-marker);
}

.editor-highlighting .table-marker {
  color: var(--color-syntax-table-marker);
}

.editor-highlighting .heading-marker {
  color: var(--color-syntax-heading-marker);
}

.preview .attributed {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--color-syntax-attributed);
}

.editor-highlighting .attributed {
  color: var(--color-syntax-attributed);
}

.editor-highlighting .attributed__name {
  font-weight: 700;
}

.editor-highlighting .attributed__value {
  font-style: italic;
}

.help {
  font-size: 0.8rem;
  color: var(--color-foreground-secondary);
  margin: 0.25rem 0 0;
}

:disabled + .help,
:disabled + .help a {
  color: var(--color-disabled);
}

.preview {
  padding: 1rem;
  background: var(--color-background-secondary);
  flex: 1 1 0;
  line-height: 1.6;
}

.preview :is(p, ul, ol, table) {
  margin: 0.5rem 0 0;
}

.preview > :first-child {
  margin-top: 0;
}

.preview > :last-child {
  margin-bottom: 0;
}

.preview table {
  border-collapse: collapse;
  margin: 0.5rem 0;
}

.preview table caption {
  padding: 0.25rem 0;
}

.preview table :is(th, td, caption) {
  vertical-align: top;
  padding: 0.25rem 0.5rem;
}

.preview table :is(th, td):first-child {
  padding-left: 0;
}

.preview table :is(th, td):last-child {
  padding-right: 0;
}

.preview table tr {
  border-top: 1px solid var(--color-separator);
}

.preview table thead:first-child tr {
  border-top: none;
}

.container-item {
  container-type: inline-size;
}

.container-item-header {
  display: flex;
  align-items: center;
}

.container-item-title {
  flex: 1 1 auto;
  min-height: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-item-title .id {
  color: var(--color-foreground-tertiary);
  font-size: 0.8rem;
  font-family: var(--font-mono);
}

.container-item-title .comment {
  margin: 0.125rem 0 0;
}

.add-item-container {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.add-item-container:only-child {
  margin: 0;
}

.associated-type {
  margin-top: 0.5rem;
}

button[type="submit"] {
  margin-top: 1rem;
  justify-content: space-between;
}

.description {
  color: var(--color-foreground-secondary);
}

:is(.header-with-btns, h1) + .description {
  margin-bottom: 3rem;
}

.comment {
  font-size: 0.8rem;
  line-height: 1.4;
  color: var(--color-foreground-secondary);
  margin: 0.5rem 0 0;
  max-width: 55em;
}

.comment p {
  margin: 0.35rem 0 0;
}

.comment ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.35rem 0 0;
}

main:has(.form-footer) {
  margin-bottom: -1.5rem;
}

.form-footer {
  position: sticky;
  bottom: 0;
  padding-bottom: 1.5rem;
  background: var(--color-background-primary);
}

.git-status {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 2px;
  text-align: center;
  line-height: 1.75rem;
  margin: 0;
  font-weight: 600;
}

.instance-item .git-status {
  margin-top: 0.3rem;
}

.git-status.git-status--U {
  color: var(--git-status-untracked-foreground-color);
  background: var(--git-status-untracked-background-color);
}

.git-status.git-status--A {
  color: var(--git-status-added-foreground-color);
  background: var(--git-status-added-background-color);
}

.git-status.git-status--M {
  color: var(--git-status-modified-foreground-color);
  background: var(--git-status-modified-background-color);
}

.git-status.git-status--D {
  color: var(--git-status-deleted-foreground-color);
  background: var(--git-status-deleted-background-color);
}

.git-status.git-status--R {
  color: var(--git-status-renamed-foreground-color);
  background: var(--git-status-renamed-background-color);
}

aside.git {
  grid-area: aside;
  display: none;
}

aside.git h2 {
  display: none;
}

@media (min-width: 80rem) {
  aside.git {
    display: block;
    width: 30rem;
    border-left: 1px solid var(--color-separator);
    padding-left: 1rem;
  }

  aside.git h2 {
    display: block;
  }

  .git-toggle:not(.git-toggle--no-sidebar) {
    display: none;
  }
}

.git-files h3 {
  font-size: 1.25rem;
  margin: 0;
}

.git-files ul {
  list-style-type: " ";
  padding: 0;
  margin: 0;
  display: block;
}

.git-files .git-entity-list-item > .title {
  margin: 1.5rem 0 0.75rem;
}

.git-files li .title {
  display: block;
  margin: 0.25rem 0;
  flex: 1 1 0;
}

.git-files li.git-entity-list-item > .title {
  font-weight: 600;
}

.git-files li button {
  padding: 0 0.5rem;
  line-height: 1.75rem;
  height: 1.75rem;
}

.git-files .git-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 1rem;
}

.git-files .git-section-title h2 {
  margin: 0;
}

.git-files p.no-changes {
  color: var(--color-foreground-tertiary);
  margin: 0;
}

.git-branches ul {
  padding: 0;
  margin: 0;
}

.git-branches ul li {
  display: flex;
  align-items: start;
  margin-top: 0.5rem;
}

.branch__full-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 0;
}

.branch__origin {
  color: var(--color-foreground-secondary);
}

.branch__current-indicator {
  color: var(--color-foreground-secondary);
  flex: none;
}

dialog {
  background: var(--color-background-primary);
  color: var(--color-foreground-primary);
  border: none;
  box-shadow: 0 0.5rem 2rem var(--color-shadow);
  padding: 1.6rem 1.5rem;
  max-height: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
  overscroll-behavior: contain;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.25s ease-in-out;
}

dialog header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.6rem;
}

dialog header :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  flex: 1 1 0;
}

dialog.settings {
  max-width: min(calc(100% - 2rem), 36rem);
}

dialog.settings section.locale-settings ol {
  padding: 0 0 0 1.5rem;
  margin: 1rem 0;
}

dialog.settings section.locale-settings ol li:not(:first-child) {
  margin-top: 0.5rem;
}

dialog.git {
  max-width: min(calc(100% - 2rem), 36rem);
  width: 100%;
}

@media (min-width: 80rem) {
  dialog.git header .git__tab--files {
    display: none;
  }
}

.locale-content {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.locale-content span {
  flex: 1 1 0;
}

.form-row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.form-row--sides {
  justify-content: space-between;
}

.form-row--compact {
  gap: 0.25rem;
  margin-block: 0.5rem;
}

.form-row__group {
  display: flex;
  gap: 0.5rem;
}

.form-row--compact .form-row__group {
  gap: 0.25rem;
}

.form-row__text {
  padding-block: 0.5rem;
}

.form-row--compact .form-row__text {
  padding-block: 0.175rem;
}

.form-row__fill {
  flex: 1 1 0;
}

.form-row--compact button {
  padding: 0.175rem 0.5rem;
  height: 1.75rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 1000;
  font-weight: 200;
  letter-spacing: 0.05em;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

#app:not(:has(dialog[open])) > .loading-overlay--open,
dialog[open] > .loading-overlay--open {
  opacity: 1;
  pointer-events: auto;
}

dialog[open]:has(> .loading-overlay--open)::backdrop {
  background: rgba(0, 0, 0, 0.75);
}
